/* common */
:root {
  --component-gap: 30px;
  --primary-color: indianred;
}

button {
  height: 36px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: white;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* App */

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

/* Heaader */
header {
  width: 100%;
  text-align: center;
  margin-bottom: var(--component-gap);
}

/* CoinInput */
#coin-input-component {
  width: 100%;
  margin-bottom: var(--component-gap);
}

#coin-input-component .coin-input-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#coin-input-component .coin-input-box input {
  margin-right: 10px;
  padding: 0 10px;
  width: 100%;
}

#coin-input-component .coin-input-box button {
  width: 64px;
}

/* LottoList */
#lotto-list-component {
  width: 100%;
  margin-bottom: var(--component-gap);
}

#lotto-list-component .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#lotto-list-component .detail {
  display: flex;
  flex-wrap: wrap;
}

#lotto-list-component .detail.show {
  display: block;
  flex-wrap: wrap;
}

#lotto-list-component .detail .items {
  display: flex;
  align-items: center;
}

#lotto-list-component .detail .items .item__icon {
  margin-right: 5px;
  font-size: 35px;
}

#lotto-list-component .detail .items .item__number {
  display: none;
}

#lotto-list-component .detail .items .item__number.show {
  display: inline;
  font-size: 17px;
}

/* LottoInput */
#lotto-input-component {
  width: 100%;
  margin-bottom: var(--component-gap);
}

#lotto-input-component .lotto-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

#lotto-input-component .lotto-input-box span {
  font-weight: 900;
}

#lotto-input-component .lotto-input-box input {
  width: 30px;
  height: 35px;
  text-align: center;
}

#lotto-input-component .lotto-input-box .input-set {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#lotto-input-component button {
  width: 100%;
}

/* LottoResult */
#lotto-result-component {
  width: 100%;
}

#lotto-result-component.open {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.5);
  transition: 0.5s;
}

#lotto-result-component .result-body {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  padding: 10px;
  background-color: white;
}

#lotto-result-component .result-body .close-modal {
  text-align: end;
}

#lotto-result-component .result-body .close-modal button {
  width: 22px;
  height: 22px;
}

#lotto-result-component .result-body h2 {
  text-align: center;
}

#lotto-result-component .result-body .detail table {
  text-align: center;
}

#lotto-result-component .result-body .detail td {
  padding: 10px 0;
}

#lotto-result-component .result-body .detail .rate-of-return {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-weight: 900;
}

#lotto-result-component .result-body .reset {
  text-align: center;
}
